<section class="welc-card">
  <div class="row">
      <div class="col-lg-3 col-sm-4">
          <div class="welc-avatar">
              <img src="../assets/img/author.jpg">
          </div>
      </div>
      <div class="col-lg-7 col-sm-8">
          <div class="welc-content">
              <h2 class="welc-title">HEY! I AM NOEMI WATTS, A publicist, traveler &amp; yogi.</h2>
              <p class="welc-text">Do your practice and all is coming.</p>
          </div>
      </div>
  </div>
</section>