<section class="welc-card">
  <div class="row">
      <div class="col-lg-3 col-sm-4">
          <div class="welc-avatar">
              <img src="assets/img/author.jpg">
          </div>
      </div>
      <div class="col-lg-7 col-sm-8">
          <div class="welc-content">
              <h2 class="welc-title">HEY! I AM ANNA, hope you like this blog app and going back here soon.</h2>
              <p class="welc-text">By the way, have a nice day and don't forget to smile because you're amazing!</p>
          </div>
      </div>
  </div>
</section>