<div class="promo-area wrap-box">
  <div class="promo-items">
      <a href="javascript:void(0);" class="promo-item" style="background-image:url(assets/img/fresh.jpg);">
          <span class="promo-title">food</span>
      </a>
      <a href="javascript:void(0);" class="promo-item" style="background-image:url(assets/img/simple.jpg);">
          <span class="promo-title">health</span>
      </a>
      <a href="javascript:void(0);" class="promo-item" style="background-image:url(assets/img/book.jpg);">
          <span class="promo-title">lifestyle</span>
      </a>
  </div>
</div>